<div class="container-fluid">
    <h2>+Add Patient</h2>
    <form #patientForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="patient.name" name="name"
            #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
           <small>Name is required</small> 
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="text" class="form-control" id="Age" required [(ngModel)]="patient.age" name="age"
                #age="ngModel">
            <div [hidden]="age.valid || age.pristine" class="alert alert-danger">
                Age is Required </div>
        </div>
        <div class="form-group">
            <label style="padding-right: 10px ;">Gender</label>
            <label  style="padding-right: 10px ;">
                <input type="radio"  id="female" value="female" required [(ngModel)]="patient.gender"
                    name="gender" #gender="ngModel">
                Female
            </label>

            <label  style="padding-right: 10px ;">
                <input type="radio"  id="male" value="male" required [(ngModel)]="patient.gender" name="gender"
                    #gender="ngModel">
                Male
            </label>
            <label  style="padding-right: 10px ;">
                <input type="radio"  id="undisclosed" value="undisclosed" required [(ngModel)]="patient.gender" name="gender"
                    #gender="ngModel">
                    Undisclosed
            </label>
            <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
                Gender is Required </div>
        </div>

        <div class="form-group">
            <label>Check-in Date</label>
            <input type="text" class="form-control" id="CheckInDate" required [(ngModel)]="patient.CheckInDate"
                name="CheckINDate" #CheckInDate="ngModel">
            <div [hidden]="CheckInDate.valid || CheckInDate.pristine" class="alert alert-danger">
               <small>Check-in Date is Required</small>  </div>
        </div>
        <button [disabled]="patientForm.form.invalid" class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-primary" type="cancel">Cancel</button>

    </form>
</div>